<!doctype html>
<html {% if page.lang %} lang="{{ page.lang }}" {% else %} lang="en" {% endif %}> <!-- XXX -->
  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$$','$$']],
	displayMath: [ 
		['\\[', '\\]']
	    ],
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


    <title>template {{ site.title }}: {{ page.title }}</title>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/vs.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


    <link rel="stylesheet" href="/assets/css/rob-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">


  </head>
  <body>
  	{% include nav.html %}
	{% if page.tags.size > 0 %}
	<hr/>
		Tags:
		{{ page.tags | join: ' | ' }}
	{% endif %}
	{% if page.categories.size > 0 %}
	<hr/>
		Categories:
		{{ page.categories | join: ' | ' }}
	<br/>
	<hr/>
	{% endif %}

      <div class="container content">
        {{ content }}
      </div>

	<hr/>
  Test page footer.
  </body>
</html>
